.explore {
  padding: 25px 0 200px;
  background-color: $background-img;
  background-image: url(../assets/imgs/1x/section-explore/back-mobile1x.webp);
  background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
  background-image: url(../assets/imgs/2x/section-explore/back-mobile2x.webp);
}
  // background-image: url(../../assets/imgs/1x/number-explore/backmobile1x.webp);
  //   background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: cover;
  //     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
  //       background-image: url(../../assets/imgs/2x/number-explore/backmobile2x.webp);
  //     }
}
.explore-heading-carousel {
  width: 270px;
  height: 100px;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: $background;
}
.carousel {
  margin-bottom: 695px;
}
.explore-item {
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: center;
}
.carousel-item .active {
  width: 280px;
  margin-right: 0px;
}
.carousel-indicators [data-bs-target] {
  margin-left: 0;
  margin-top: 16px;
  margin-bottom: -4rem;
  opacity: none;
  background-color: $grey-reduced;
}
.carousel-control-prev{
  margin-right: 20px;
}
.carousel-indicators .active {
  width: 53px;
  border-radius: 40%;
  background-color: $button-color;
}
.card-item {
  display: none;
}
.card-carousel {
  width: 240px;
  height: 170px;
  margin: 0 auto;
}
