.footer{
padding: 146px 0 83px;
background: $background;
@media screen and (min-width: 1200px) {
    padding: 39px 0 31px;
}
}
.footer-container{
    @media screen and (min-width: 1200px){
display: flex;
justify-content: space-between;
align-items: center;
    }
}
.footer-block{
    @media screen and (min-width: 1200px){
        display: flex;
        align-items: center;
    }
}
.footer-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 36px;
            @media screen and (min-width: 1200px){
                margin-right: 124px;
                margin-bottom: 0;
            }
}
.logotype{
width: 174px;
height: 65px;
}
.footer-list{
text-align: center;
margin-bottom: 36px;
@media screen and (min-width: 1200px){
    display: flex;
    margin-bottom: 0;
}
}
.footer-item:not(:last-child){
margin-bottom: 36px;
@media screen and (min-width: 1200px){
        &:not(:last-child){
        margin-right: 35px;
        margin-bottom: 0;
    }  
}

}
.footer-link{
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0.64px;
color: $title-white;
}
.footer-list-2{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    @media screen and (min-width: 1200px){
        margin-bottom: 0;
    }
}
.footer-item-2:not(:last-child){
    margin-right: 50px;
}
.item-icon{
    width: 31px;
height: 31px;
}
.footer-text{
font-family: DM Sans;
font-size: 23px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.65px;
text-align: center;
margin-left: 25px;
color: $title-white;
@media screen and (min-width: 1200px){
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.5px;
margin-bottom: 0;
}
}