.live{
    padding: 83px 0 37px;
    background-image: url(../assets/imgs/1x/section-live/back-mobile1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.live-item:not(:last-child){
    margin-bottom: 24px;
}
.live-heading {
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  margin-bottom: 74px;
  color: $title-white;
}
.live-img {
  width: 280px;
  margin-bottom: 40px;
}
.live-list {
  padding: 0;
}
.block-heading {
font-family: DM Sans;
font-size: 22px;
font-weight: 700;
line-height: 150%;
text-align: center;
margin-bottom: 23px;
color: $title-white;
}
.block-text{
    height: 81px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: center;
color: $title-white;
}
