.numbers{
  padding: 72px 0 69px;
  background: $background-number;
  @media screen and (min-width: 1200px){
    padding: 201px 0 140px;
  }
}
.numbers-item:not(:last-child){
    margin-bottom: 80px;
}
.numbers-list{
    padding: 0;
}
.numbers-heading {
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 33px;
  color: $title-white;
  @media screen and (min-width: 1200px){
width: 615px;
height: 52px;
align-items: center;
font-size: 60px;
font-weight: 700;
text-align: center;
  }
}
.numbers-text {
  width: 285px;
  height: 120px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 62px;
  color: $text-lighten;
  @media screen and (min-width: 1200px){
        width: 484px;
        height: 102px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 39px;
  }
}
.numbers-list{
  @media screen and (min-width: 1200px){
    display: flex;
    justify-content: center;
  }
}
.numbers-item{
  @media screen and (min-width: 1200px){
    &:not(:last-child){
      margin-right: 90px;
    }
  }
}
.item-heading {
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 15px;
  color: $button-color;
}
.item-text {
  width: 274px;
  height: 70px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: center;
padding-left: 0;
color: $text-lighten;
}