$button-color: #dd2242;
$background: #010a20;
$title-white: #fff;
$text-lighten: #e0e0e0;
$grey-reduced: #85a3b2;
$text: rgba(21, 20, 57, 0.4);
$paragraph-dark: #6f7787;
$color-black: black;
$text-color:#939393;
$background-getting:#dce8f2;
$background-number:#020c21;
$background-img: #848181;