// :root {
// 	--main-red: #dd2242;
// 	--blue---background: #010a20;
// 	--white: #fff;
// 	--text-lighten: #e0e0e0;
// 	--grey-reduced: #85a3b2;
// 	--light-text: rgba(21, 20, 57, 0.4);
// 	--paragraph-dark: #6f7787;
// }
$button-color: #dd2242;
$background: #010a20;
$title-white: #fff;
$text-lighten: #e0e0e0;
$grey-reduced: #85a3b2;
$text: rgba(21, 20, 57, 0.4);
$paragraph-dark: #6f7787;
$color-black: black;
$text-color:#939393;